Repository radicallyopensecurity/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "**/*.{ts,json,js,svg,html}": ["pretty-quick --write"],
  "**/*.{ts,js}": ["eslint --fix"],
  "src/**/*.{ts,css}": ["stylelint --fix"]
}

feat(mock): implement mock oidc and gitlab server
  .env.mock
  mock/data/discussions.mock.ts
  mock/data/events-base.mock.ts
  mock/data/events.mock.ts
  mock/data/groups-base.mock.ts
  mock/data/groups.mock.ts
  mock/data/issues-base.mock.ts
  mock/data/issues.mock.ts
  mock/data/labels.mock.ts
  mock/data/members-base.mock.ts
  mock/data/members.mock.ts
  mock/data/project-base.mock.ts
  mock/data/project.mock.ts
  mock/data/user.mock.ts
  mock/data/variables.mock.ts
  mock/mock-database.ts
  mock/mock-gitlab-server.ts
  mock/mock-oidc-server.ts
  mock/run-mock.ts
  mock/utils.ts
  package-lock.json
  package.json
  public/OidcTrustedDomains.js
  src/modules/projects/normalizers/normalize-project.ts
  src/modules/projects/utils/rewrite-uploads.ts
  tsconfig.json
Due: pretty-quick --write, eslint --fix, stylelint --fix

fix(findings): make sure findings collapse when changing project id
  README.md
  public/iframe.css
  src/elements/secure-iframe/secure-iframe.ts
  src/features/project-detail/elements/finding-details-item.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

fix(projects): get correct projects from namespaces to show
  src/api/gitlab/client/groups.ts
  src/api/gitlab/client/projects.ts
  src/modules/projects/services/sync-namespaces.ts
  src/modules/projects/services/sync-projects.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

fix(auth): showing error when we are just loading
  src/features/project-detail/elements/cards/project-chat.ts
  src/modules/auth/auth-store.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

refactor(auth): use signals instead of mobx
  README.md
  package-lock.json
  package.json
  src/app-shell.ts
  src/modules/auth/auth-service.ts
  src/modules/auth/auth-signal.ts
  src/modules/auth/auth-store.ts
  src/modules/auth/services/ensure-auth.ts
  src/modules/auth/services/login-callback.ts
  src/pages/auth/callback.ts
  src/routes.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

refactor(signals): app auth and user
  src/elements/secure-iframe/secure-iframe.ts
  src/features/top-bar/top-bar.ts
  src/modules/app/app-store.ts
  src/modules/app/signals/app-signal.ts
  src/modules/app/signals/theme-signal.ts
  src/modules/app/theme-store.ts
  src/modules/auth/auth-service.ts
  src/modules/auth/auth-signal.ts
  src/modules/auth/queries/auth-callback-query.ts
  src/modules/auth/queries/auth-ensure-query.ts
  src/modules/projects/projects-service.ts
  src/modules/projects/services/create-project.ts
  src/modules/user/queries/user-query.ts
  src/modules/user/services/sync-user.ts
  src/modules/user/types/user.ts
  src/modules/user/user-service.ts
  src/modules/user/user-store.ts
  src/pages/auth/callback.ts
  src/pages/home.ts
  src/pages/projects/new.ts
  src/routes.ts
  src/theme/utils/register-theme.ts
  src/utils/signal/query/constants.ts
  src/utils/signal/query/create-query.ts
  src/utils/signal/query/types.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

refactor(state): replace mobx with signals
  README.md
  package-lock.json
  package.json
  src/features/project-detail/elements/cards/title-card.ts
  src/features/project-detail/elements/finding-details-item.ts
  src/features/project-detail/elements/pdf-password-dialog.ts
  src/features/project-detail/project-detail.skeleton.ts
  src/features/project-detail/project-detail.ts
  src/features/project-detail/utils/archive-project.ts
  src/features/side-bar/side-bar.ts
  src/modules/auth/queries/auth-callback-query.ts
  src/modules/projects/projects-service.ts
  src/modules/projects/queries/create-project-query.ts
  src/modules/projects/queries/create-variable-query.ts
  src/modules/projects/queries/namespaces-query.ts
  src/modules/projects/queries/project-details.query.ts
  src/modules/projects/queries/project-finding-query.ts
  src/modules/projects/queries/projects-query.ts
  src/modules/projects/queries/templates-query.ts
  src/modules/projects/queries/update-project-query.ts
  src/modules/projects/services/create-project.ts
  src/modules/projects/services/create-variable.ts
  src/modules/projects/services/sync-namespaces.ts
  src/modules/projects/services/sync-project-details.ts
  src/modules/projects/services/sync-project-finding.ts
  src/modules/projects/services/sync-projects.ts
  src/modules/projects/services/sync-templates.ts
  src/modules/projects/services/update-project.ts
  src/modules/projects/store/namespaces-store.ts
  src/modules/projects/store/project-details-store.ts
  src/modules/projects/store/project-findings-store.ts
  src/modules/projects/store/projects-store.ts
  src/modules/projects/store/templates-store.ts
  src/pages/home.ts
  src/pages/projects/:namespace,:name.ts
  src/pages/projects/new.ts
  src/routes.ts
  src/utils/signal/query/create-query.ts
  src/utils/signal/query/types.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

refactor(projects): rename files
  src/modules/projects/normalizers/normalize-project.ts
  src/modules/projects/queries/namespaces-query.ts
  src/modules/projects/queries/project-details.query.ts
  src/modules/projects/queries/project-finding-query.ts
  src/modules/projects/queries/projects-query.ts
  src/modules/projects/queries/templates-query.ts
  src/modules/projects/queries/update-project-query.ts
  src/modules/projects/services/namespaces.ts
  src/modules/projects/services/project-details.ts
  src/modules/projects/services/project-finding.ts
  src/modules/projects/services/projects.ts
  src/modules/projects/services/templates.ts
  src/utils/signal/query/create-query.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

fix(project): loading indicators
  src/features/project-detail/elements/cards/title-card.ts
  src/features/project-detail/project-detail.ts
  src/pages/projects/:namespace,:name.ts
  vite.config.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

fix(mock): update project
  mock/mock-gitlab-server.ts
Due: pretty-quick --write, eslint --fix

docs: update readme
  README.md
Due: none

fix(env): add rocket chat and codimd url explicitely
  .env.mock
  .env.sample
  src/config.ts
  src/constants/services.ts
  vite-env.d.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

feat(sidebar): show message unread count
  README.md
  src/app-shell.ts
  src/features/side-bar/elements/project-list-item.ts
  src/features/side-bar/elements/ros-projects.ts
  src/features/side-bar/side-bar.ts
  src/modules/chat/chat-service.ts
  src/modules/chat/normalizers/normalize-chat-subscription.ts
  src/modules/chat/signals/chat-subscriptions-signal.ts
  src/modules/chat/types/chat-subscription.ts
  src/modules/chat/types/rocket-chat-subscription.ts
  src/modules/chat/utils/on-rocket-chat-event.ts
  src/utils/promise/sleep.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

chore(dev): use hostname from env
  vite.config.ts
Due: pretty-quick --write, eslint --fix

feat(pdf): pdf preview and builds list
  mock/data/groups-base.mock.ts
  mock/data/jobs-base.mock.ts
  mock/data/jobs.mock.ts
  mock/data/project-base.mock.ts
  mock/mock-database.ts
  mock/mock-gitlab-server.ts
  mock/utils.ts
  package-lock.json
  package.json
  src/api/gitlab/client/jobs.ts
  src/api/gitlab/constants.ts
  src/api/gitlab/gitlab-client.ts
  src/api/gitlab/types/gitlab-job.ts
  src/app-shell.ts
  src/elements/pdf-button/pdf-button.ts
  src/elements/pdf-preview/pdf-preview.ts
  src/features/project-detail/elements/build-item.ts
  src/features/project-detail/elements/cards/project-builds.ts
  src/features/project-detail/elements/cards/title-card.ts
  src/features/project-detail/project-detail.ts
  src/modules/projects/normalizers/normalize-build.ts
  src/modules/projects/normalizers/normalize-project-details.ts
  src/modules/projects/services/project-details.ts
  src/modules/projects/types/project-build.ts
  src/modules/projects/types/project-details.ts
  src/modules/projects/utils/build-artifacts.ts
  src/pages/projects/[:namespace.:name]/index.ts
  src/pages/projects/[:namespace.:name]/pdf.ts
  src/routes.ts
  src/utils/string/capitalize.ts
  vite-env.d.ts
  vite.config.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

chore: add lit analyze and fix workflow
  .github/workflows/pull-request.yml
  .github/workflows/push-main.yml
  package-lock.json
  package.json
  src/app-shell.ts
  src/features/project-list-item-large/project-list-item-large.ts
  src/features/side-bar/elements/project-list-item.ts
  tsconfig.json
Due: pretty-quick --write, eslint --fix, stylelint --fix

refactor(prettier): fix
  src/api/gitlab/client/discussions.ts
  src/api/gitlab/client/events.ts
  src/api/gitlab/client/group.ts
  src/api/gitlab/client/issues.ts
  src/api/gitlab/client/labels.ts
  src/api/gitlab/client/members.ts
  src/api/gitlab/client/user.ts
  src/api/gitlab/client/variables.ts
  src/modules/projects/normalizers/normalize-event.ts
  src/modules/projects/normalizers/normalize-history.ts
  src/modules/projects/normalizers/normalize-member.ts
  src/modules/projects/normalizers/normalize-namespace.ts
  src/modules/projects/normalizers/normalize-template.ts
  src/modules/projects/utils/is-comment-event.ts
  src/modules/projects/utils/is-created-event.ts
  src/modules/projects/utils/is-push-event.ts
  src/modules/projects/utils/is-state-event.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

chore(test): fix env vars
  .env.test
  vite.config.ts
Due: pretty-quick --write, eslint --fix

chore(ci): build with custom mode
  .github/workflows/pull-request.yml
  .github/workflows/push-main.yml
  package.json
Due: pretty-quick --write

chore(lint): add litelement eslint plugins
  .eslintrc.cjs
  package-lock.json
  package.json
  src/features/project-detail/elements/build-item.ts
  src/features/project-detail/elements/cards/history-card.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

refactor(map): use directive map
  src/features/project-detail/elements/cards/history-card.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

chore(commit): add commitizen
  .github/workflows/pull-request.yml
  .husky/commit-msg
  commitlint.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: pretty-quick --write, eslint --fix

chore(commit): fix the commit hook
  .husky/commit-msg
  .husky/prepare-commit-msg
Due: none

chore(commit): fix
  .github/workflows/pull-request.yml
  .husky/prepare-commit-msg
Due: none

chore(ci): no shallow clone
  .github/workflows/pull-request.yml
Due: none

feat(sidebar): filter and sort
  .lintstagedrc.json
  src/app-shell.ts
  src/features/project-detail/elements/cards/project-builds.ts
  src/features/side-bar/elements/project-list-item.ts
  src/features/side-bar/elements/ros-projects.ts
  src/features/side-bar/side-bar.ts
  src/features/side-bar/utils.ts
  src/modules/chat/normalizers/normalize-chat-subscription.ts
  src/modules/chat/types/chat-subscription.ts
  src/modules/chat/types/rocket-chat-subscription.ts
  src/modules/projects/utils/add-channel-names.ts
  vite.config.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

feat(project): edit start and end date
  .eslintrc.cjs
  src/api/gitlab/client/project-file.ts
  src/api/gitlab/client/project.ts
  src/api/gitlab/client/update-project-file.ts
  src/api/gitlab/gitlab-client.ts
  src/api/gitlab/types/gitlab-project-file.ts
  src/config.ts
  src/features/project-detail/elements/cards/title-card.ts
  src/features/projects-overview/projects-overview.ts
  src/features/side-bar/elements/project-list-item.ts
  src/modules/chat/normalizers/normalize-chat-subscription.ts
  src/modules/chat/types/rocket-chat-subscription.ts
  src/modules/projects/normalizers/normalize-project.ts
  src/modules/projects/queries/update-dates-query.ts
  src/modules/projects/services/create-project.ts
  src/modules/projects/services/projects.ts
  src/modules/projects/services/update-project-file.ts
  src/modules/projects/types/project.ts
  src/pages/home.ts
  src/pages/projects/new.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

fix(modal): overlay
  src/features/side-bar/side-bar.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

feat(project): add project status
  src/features/project-detail/elements/cards/title-card.ts
  src/modules/projects/normalizers/normalize-project-status.ts
  src/modules/projects/normalizers/normalize-project.ts
  src/modules/projects/types/project.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

feat(project): edit status
  src/features/project-detail/elements/cards/title-card.ts
  src/features/projects-overview/projects-overview.ts
  src/features/side-bar/elements/ros-projects.ts
  src/modules/projects/normalizers/normalize-project-status.ts
  src/modules/projects/normalizers/normalize-project.ts
  src/modules/projects/types/project.ts
  src/pages/home.ts
  src/utils/string/capital-case-to-space-case.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

feat(home): basic table
  package-lock.json
  package.json
  src/elements/data-table/data-table.ts
  src/elements/data-table/sort-caret.ts
  src/features/projects-overview/columns.ts
  src/features/projects-overview/projects-overview.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

feat(chat): double channel
  src/features/project-detail/project-detail.ts
  src/modules/projects/normalizers/normalize-project.ts
  src/modules/projects/types/project.ts
  src/utils/rocket-chat/get-channel-url.ts
  src/utils/rocket-chat/get-channel-urls.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix

feat(sidebar): status badge
  src/features/project-detail/elements/cards/title-card.ts
  src/features/side-bar/elements/project-list-item.ts
Due: pretty-quick --write, eslint --fix, stylelint --fix
